<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Welcome</h1>

<form th:action="register" th:method="post" th:object="${userForm}">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email">

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">

    <label for="dob">Birth Date</label>
    <input type="date" th:field="*{dob}" id="dob">

    <button type="submit">Submit</button>
</form>
<br/>
<h1 th:text="${message}">message</h1>
</body>
</html>